/* General */

.container {
  width: 80%;
  margin: auto;
}

.flex-container {
  display: flex;
}

/* header */

header {
  background-color: var(--lighter-color);
  min-height: 80px;
}

header .container {
  background-color: var(--light-color);
  height: 40px;
}
