/* General */

.container {
  width: 80%;
  margin: auto;
}

.flex-container {
  display: flex;
}

/* header */

.top-header {
  background-color: var(--lighter-color);
  min-height: 80px;
}

header .container {
  background-color: var(--light-color);
  height: 40px;
}

/* bottom header */

.bottom-header {
  background-color: var(--darker-color);
  height: 600px;
  justify-content: center;
}

.bottom-header > div {
  background-color: var(--light-color);
  width: 60%;
  margin: 50px;
}

/* section */

.section {
  height: 700px;
}

.box-large {
  width: 60%;
  background-color: var(--light-color);
  margin: 50px 0;
}

.box-small {
  width: 40%;
  background-color: var(--lighter-color);
  margin: 50px 0;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.alternate-background {
  background-color: var(--dark-color);
}

/* last informations */

.section-big {
  height: 1000px;
  justify-content: center;
}

.box-big {
  margin: 50px 0;
  width: 80%;
  background-color: var(--darker-color);
}
