/* General */

.container {
  width: 80%;
  margin: auto;
}

.flex-container {
  display: flex;
}

.primary-bordered {
  border: 2px dashed black;
}

.secondary-bordered {
  border: 2px dashed white;
}

/* header */

.top-header {
  background-color: var(--lighter-color);
  min-height: 80px;
}

.top-header > .container {
  background-color: var(--light-color);
  height: 40px;
  margin: 20px auto;
  justify-content: space-between;
}

.top-header > .container > div {
  width: calc(100% / 3);
}

/* bottom header */

.bottom-header {
  background-color: var(--darker-color);
  height: 600px;
  justify-content: center;
}

.bottom-header > div {
  background-color: var(--light-color);
  width: 60%;
  margin: 50px;
}

/* section */

.section {
  height: 700px;
}

.box-large {
  width: 60%;
  background-color: var(--light-color);
  margin: 50px 0;
}

.box-small {
  width: 40%;
  background-color: var(--lighter-color);
  margin: 50px 0;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.alternate-background {
  background-color: var(--dark-color);
}

/* last informations */

.section-big {
  height: 1000px;
  justify-content: center;
}

.box-big {
  margin: 50px 0;
  width: 80%;
  background-color: var(--darker-color);
}

/* top footer */

.top-background-footer {
  background-color: var(--darker-color);
  height: 700px;
  border-bottom: 5px solid white;
}

.top-background-footer > .container {
  margin: 15px auto 40px;
}

.column-small {
  width: 30%;
  background-color: var(--light-color);
  margin: 20px 0 50px;
  height: calc(700px -50px -20px);
}

.column-big {
  width: 70%;
  margin: 20px 0 50px;
  background-color: var(--lighter-color);
}

.column-smaller {
  width: calc(100% / 4);
}

/* bottom footer */

.bottom-background-footer {
  background-color: var(--darker-color);
  height: 100px;
}

.bottom-background-footer > .container {
  background-color: var(--light-color);
  margin-top: 30px;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}

.bottom-background-footer > .container > div {
  margin: 10px 0;
  background-color: var(--lighter-color);
}
