/*  Custom Properties */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --darker-color: #495c83;
  --dark-color: #7a86b6;
  --light-color: #a8a4ce;
  --lighter-color: #c8b6e2;
}
